<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapse"
                    data-toggle="collapse" data-target="#ddde1234">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">Flask入门</span>
        </div>
        <div class="navbar-collapse collapse" id="ddde1234">
           <ul class="nav navbar-nav">
                <li {% if url_for('main.index_demo') is current_link %} class="active" {% endif %}>
                    <a href="{{ url_for('main.index_demo') }}" title="主页">主页</a>
               <li {% if url_for('auth.register') is current_link %} class="active" {% endif %}>
                    <a href="{{ url_for('auth.register') }}" title="注册">注册</a>
               <li {% if url_for('auth.login') is current_link %} class="active" {% endif %}>
                    <a href="{{ url_for('auth.login') }}" title="登录">登录</a>
                </li>
           </ul>
        </div>
    </div>
</div>