{#<nav class="navbar navbar-inverse navbar-fixed-top">#}
{#      <div class="container">#}
{#        <div class="navbar-header">#}
{#          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">#}
{#            <span class="sr-only">Toggle navigation</span>#}
{#            <span class="icon-bar"></span>#}
{#            <span class="icon-bar"></span>#}
{#            <span class="icon-bar"></span>#}
{#          </button>#}
{#          <a class="navbar-brand" href="#">Project name</a>#}
{#        </div>#}
{#        <div id="navbar" class="collapse navbar-collapse">#}
{#        <div id="navbar" class="collapse navbar-collapse">#}
{#          <ul class="nav navbar-nav">#}
{#            <li class="active"><a href="#">Home</a></li>#}
{#            <li><a href="#about">About</a></li>#}
{#            <li><a href="#contact">Contact</a></li>#}
{#          </ul>#}
{#        </div><!--/.nav-collapse -->#}
{#      </div>#}
{#    </nav>#}


<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapse"
                    data-toggle="collapse" data-target="#ddde1234">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand ">作业系统</span>
        </div>
        <div class="navbar-collapse collapse" id="ddde1234">
           <ul class="nav navbar-nav">
                <li {% if url_for('main.index_demo') is current_link %} class="active" {% endif %}>
                    <a href="{{ url_for('main.index_demo') }}" title="主页">主页</a>
               <li {% if url_for('auth.register') is current_link %} class="active" {% endif %}>
                    <a href="{{ url_for('auth.register') }}" title="注册">注册</a>
               <li {% if url_for('auth.login') is current_link %} class="active" {% endif %}>
                    <a href="{{ url_for('auth.login') }}" title="登录">登录</a>
                </li>
           </ul>
            <ul class="nav navbar-nav  navbar-right">
                {% if current_user.is_authenticated %}  {# 这里使用了flask_login.UserMixin钩子变量 #}
                <li><a href="#">{{ current_user.name }}</a></li>
                <li><a href="{{ url_for('auth.logout',user=current_user.name ) }}">退出</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">登录</a></li>
                <li><a href="{{ url_for('auth.register') }}">注册</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>